<div class="main-wrapper">

    <header class="header">
        <div class="logo">
            <img src="../../../assets/LogoMeet4Learn.png" alt="Logo de Meet4Learn">
        </div>
        <a [routerLink]="['/login']">
            <button class="btn-primary">INICIAR SESIÓN</button>
        </a>
    </header>

    <section class="hero-section">
        <div class="hero-content">
            <h1>¡BIENVENIDO A MEET4LEARN!</h1>
            <h2>ENSEÑA. CONECTA. CRECE.</h2>
            <p>Convierte tu conocimiento en cursos en vivo y llega a miles de estudiantes a través de nuestra app móvil
            </p>
            <a [routerLink]="['/register']">
                <button type="button" class="btn-secondary">REGISTRO DE DOCENTES</button>
            </a>
        </div>
    </section>

    <section class="student-section">
        <h3>¿Eres estudiante?</h3>
        <p>Meet4Learn es una plataforma móvil. Descarga nuestra app para explorar y unirte a los cientos de cursos
            disponibles al alcance de tu mano.</p>
        <a [routerLink]="['/play-store']">
            <button type="button" class="btn-secondary">DESCARGALA AQUI</button>
        </a>
    </section>

    <section class="how-it-works-section">
        <h3>¿Cómo funciona la plataforma?</h3>
        <div class="steps-container">
            <div class="step-card register">
                <h4>REGÍSTRATE</h4>
                <p>Crea tu perfil y puedes empezar a dar clases con el Plan Descubre. ¡Es gratis!</p>
            </div>
            <div class="step-card create">
                <h4>CREA TU CURSO</h4>
                <p>Usa nuestro panel para diseñar tu curso, establecer su precio y programar sus clases divididas por
                    módulos.</p>
            </div>
            <div class="step-card teach">
                <h4>DA CLASES EN VIVO</h4>
                <p>Transmite tu video y audio mientras interactúas con tus estudiantes por chat en vivo.</p>
            </div>
        </div>
    </section>

    <footer>
    </footer>

</div>